body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
}
.button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    font-size: 18px;
    color: #0d4743;
    background-color: #ffd500;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #7e7713;
}