* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 73%, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #28c1b4;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

form label {
    font-weight: bold;
    color: #555555;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #2a0094;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a046;
}

#mensagem {
    text-align: center;
    margin-top: 10px;
    color: rgb(147, 204, 68);
    font-weight: bold;
}
