/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dededea5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #41e7c3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="reset"] {
    background-color: #6c757d;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover {
    background-color: #5a6268;
}
